<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Organizers</title>
</head>
<body>
<a href="/organizers/sign_up">Registration</a>
<h2>Organizers</h2>
{{#organizers}}
    <h3>{{name}}</h3>
    <p><b>E-mail:</b> {{email}}</p>
    <hr/>
{{/organizers}}
</body>
</html>